<!-- <html>
<head> Fire Data Details:<head/>
<body>
<h2>火势指数{{fire_obj.fire_weather_index}}<h2/>
<h2>火势日期{{fire_obj.date}}<h2/>
<body/>
<html/>
-->
<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8"><link rel="icon" href="this.jfif">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #header1{
                color : black;
                background-color:orange;
                padding:20px;
            }
            div{
                background-color:powerorange;
            }
        </style>
        
        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>
    </head>
    <body>
        <h2 id='header1' >IAR 07 Wild Fire Prediction website</h2>
        <div id="container" style="min-width:400px;height:400px"></div>
        <script>
            var chart = Highcharts.chart('container', {
            chart: {
              type: 'line'
              },
            title: {
              text: 'FWI Prediction Chart'
              },
            subtitle: {
              text: 'Data Source: NASA FIRMS'
              },
            xAxis: {
              categories: ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May.', 'Jun.', 'Jul.', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec.']
             },
            yAxis: {
              title: {
                 text: 'Fiew_weather_index'
                }
            },
            plotOptions: {
              line: {
                dataLabels: {
                  enabled: true          
                },
            enableMouseTracking: false
             }
            },
            series: [{
               name: 'First One',
               data: [1,2,3,4,5,6,7,8,9,10,11,12]
            }, {
               name: 'Secnd One',
               data: [12,11,10,9,8,7,6,5,4,3,2,1]
            }]
            });

        </script>
        <div></div>
    </body>
</html>